@tailwind components;
@tailwind utilities;
@tailwind base;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  font-family: Space-Grotesk, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #481c00;
  background-color: #fffdea;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Space-Grotesk;
  src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 3px;

  position: absolute;
  visibility: hidden;

  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transition: 0.2s ease-out;
}

.nav-link:hover::after {
  visibility: visible;
  transform: scaleX(110%);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@layer base {
  /* html {
    @apply text-base lg:text-base xl:text-lg;
  } */

  body {
    @apply text-primary-950;
  }

  .btn {
    @apply py-3 px-6 rounded;
  }

  .text-size {
    @apply text-base font-bold;
  }

  .text-linear {
    @apply bg-gradient-to-r from-primary-600 to-primary-500 inline-block text-transparent bg-clip-text;
  }

  .btn-presentation {
    @apply border border-solid border-primary-600 bg-primary-100 outline-none uppercase py-2 px-4 rounded-lg text-base cursor-default;
  }

  .title {
    @apply flex justify-center text-center text-2xl font-medium;
  }

  .input::selection {
    @apply bg-primary-600;
  }

  .input {
    @apply h-12 w-full bg-primary-100 px-4 rounded-lg text-primary-950 focus:outline focus:outline-primary-600 placeholder:text-primary-600;
  }

  .input-icon {
    @apply pr-10;
  }

  .input-code {
    @apply h-11 w-11 md:h-12 md:w-12 appearance-none text-center text-primary-800;
  }

  .input-textarea {
    @apply h-28 py-2;
  }

  .input-textarea::-webkit-scrollbar {
    @apply bg-primary-600 w-3 rounded-r-md;
  }

  .input-textarea::-webkit-scrollbar-thumb {
    @apply bg-primary-800 rounded-r-md;
  }

  .div-game {
    @apply bg-primary-100 text-primary-950 rounded-2xl inline-block p-4;
  }

  .form-style {
    @apply space-y-8 p-6 md:p-8 rounded-2xl max-w-128 w-full bg-primary-900 text-primary-100 shadow-common;
  }

  .page-auth {
    @apply min-h-screen min-w-full content-center bg-primary-100 px-4;
  }

  .content-center {
    @apply flex justify-center items-center;
  }

  .nav-link::after {
    @apply bg-primary-800;
  }
}
